.draggable,
.drop-zone {
    display: block;
    margin: 10px;
    height: 50px;
    margin: 0;
    margin-bottom: 0.5em;
}

#dtscontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.draggable {
    background-color: var(--white);
    max-width: 300px;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    color: var(--black);
    padding-right: 0;
}

.draggable:hover {
    background-color: var(--secondary-light);
    color: var(--white);
}

.draggable:hover button {
    color: var(--white);
}

#slot0 {
    margin-bottom: 1em;
    transition: min-height 0.25s ease-in;
    min-width: 260px;
}

.draggable button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    display: flex;
    color: var(--accent-main);

}

.draggable button:hover {
    cursor: pointer;
    color: var(--black);
}

.draggable p {
    text-align: left;
    width: 100%;
}

.draggable--active {
    opacity: 0.5;
}

.drop-zone {
    max-width: 300px;
    width: 100%;
    height: 50px;
    padding: 0;
    border: 2px solid var(--white);
    border-radius: var(--border-radius);
    margin-left: 2.5em;
}

.dropslots li {
    position: relative;
}

.dropslots li span {
    color: var(--white);
    position: absolute;
    left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.drop-zone .draggable {
    margin: 0;
    border: 2px solid var(--white);
    border-radius: 2px;
    height: 48px;
}

.drop-zone .draggable:hover {
    background-color: var(--white);
    color: var(--text-main);
}

.drop-zone .draggable:hover button {
    color: var(--secondary-light);
}

.drop-zone .draggable button:hover {
    color: var(--black);
}

.errormsg {
    background-color: white;
    color: crimson;
    padding: 0.5em;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    #dtscontainer {
        grid-template-columns: 1fr;
        margin-top: 1em;
    }

    .draggable {
        padding: 0.25em 0 0.25em 1em;
        height: 40px;
    }

    .drop-zone .draggable {
        height: 38px;
    }

    .drop-zone {
        margin-left: 0;
        padding: 0;
        height: 40px;
    }

    .draggable p {
        margin: 0;
    }

    .dropslots li span {
        width: 20px;
        height: 20px;
        padding: 0.3em;
        background-color: var(--white);
        color: var(--text-main);
        border-radius: 50%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        z-index: 999;
    }

    .dropslots .draggable {
        padding: 0.25em 0 0.25em 1em;
        transform: translate(0px, -1px);
    }
}